NEXT_PUBLIC_SUPABASE_URL=https://yfvgtzlttgtidqrjfwxc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_J4JnR5Bkk69iBThm5p_1Vg_dAs0PUPN
SUPABASE_SERVICE_ROLE_KEY=

ADMIN_EMAILS=it.admin@vella.com,it.lead@vella.com,akila@vellaglobal.com
TEAM_IT_EMAIL=teamit@vella.com
USER_EMAIL=

MS_GRAPH_TENANT_ID=
MS_GRAPH_CLIENT_ID=
MS_GRAPH_CLIENT_SECRET=
MS_GRAPH_SENDER_EMAIL=
